<div class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">{{_content.title}}</h2>
    </div>
    <!--<div class="mdl-card__media">
        <img src="photo.jpg" width="220" height="140" border="0" alt="" style="padding:20px;">
    </div>-->
    <div class="mdl-card__supporting-text">
        <!--<h4 class="mdl-typography--font-light mdl-typography--subhead">{{_content.body}}</h4>-->
        <p>{{_content.body}}</p>
    </div>
    <!--<div class="mdl-card__actions">
        <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="" data-upgraded=",MaterialButton">
            Download now
            <i class="material-icons">chevron_right</i>
        </a>
    </div>
    <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
            <i class="material-icons">share</i>
        </button>
    </div>-->
</div>