.morsel-stack-top,
.morsel-card {
	padding: 16px 16px 21px;

	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	overflow: visible;

	vertical-align: top;

	transition: z-index 250ms;

	z-index: 1;

	.mdl-card {
		width: 100%;
		max-width: 400px;
		max-height: 100%;
		margin: 0 auto 16px;

		position: relative;

		transform: translate3d(0, 0, 0) scale(0.975) translateY(5px);
		transform-origin: 50% 100%;

		transition: box-shadow 250ms, transform 250ms, opacity 250ms, z-index 250ms;

		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		opacity: 0;

		z-index: 1;

		.card-front {
			> img {
				margin: 20px auto 0;

				border: 20px transparent solid;
			}

			.mdl-card__title {
				&.mdl-card__title-image-background {
					height: 186px;

					position: relative;

					color: #FFF;

					background: #111 center / cover;

					&::after {
						position: absolute;
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;

						/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.45+0,0+46,0+50 */
						background: -moz-linear-gradient(45deg,  rgba(0,0,0,0.45) 0%, rgba(0,0,0,0) 46%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
						background: -webkit-linear-gradient(45deg,  rgba(0,0,0,0.45) 0%,rgba(0,0,0,0) 46%,rgba(0,0,0,0) 50%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
						background: linear-gradient(45deg,  rgba(0,0,0,0.45) 0%,rgba(0,0,0,0) 46%,rgba(0,0,0,0) 50%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

						z-index: 1;

						content: "";
					}

					.mdl-card__title-text {
						position: relative;

						z-index: 2;
					}
				}
			}

			.mdl-card__actions {
				height: 52px;
				padding: 16px;

				position: relative;

				z-index: 3;

				.launch-activity {
					position: absolute;
					top: -20px;
					right: 16px;
				}
			}

			.mdl-card__menu {
				color: #FFF;

				z-index: 1;

				.mdl-button {}
			}

				.card-activities-ink {
					width: 2px;
					height: 2px;

					position: absolute;
					right: 35px;
					bottom: 50px;

					background-color: #FF5252;

					border-radius: 100%;

					box-shadow: 0 0 0 0 #FF5252;

					opacity: 0;

					z-index: 3;
				}
		}

		&.dragging {
			transition: box-shadow 100ms;

			z-index: 2;
		}

		&.activities {
			.card-front {
				//display: none;
			}

				.card-activities-ink {
					box-shadow: 0 0 0 1000px #FF5252;

					opacity: 1;

					animation-duration: 800ms;
					animation-name: fab-button-activity-ink;
				}

			.card-activities {
				//display: block;
			}
		}
	}

	.card-activities {
		display: none;
	}

	&.dismissed {
		opacity: 0;

		z-index: 0 !important;
	}

	&:first-child,
	&.dismissed + .morsel-card {
		.mdl-card {
			transform: none;

			opacity: 1;
		}

		+ .morsel-card {
			.mdl-card {
				//transform: scale(0.975) translateY(5px);

				opacity: 1
			}
		}
	}
}