.morsel-card {
	margin-bottom: 30px;

	.mdl-card {
		margin: 0 auto;

		position: relative;

		transition: box-shadow 250ms, transform 250ms, z-index 250ms;

		z-index: 1;

		&.dragging {
			transition: none;

			z-index: 2;
		}
	}
}