$primary: #F09;

* {
	//color: $primary;
}

html,
body {
	height: 100%;

	overflow: hidden;
}

@import "utilities/animations";
@import "utilities/reset";

@import "navigation";
@import "app";
@import "course";
@import "stack";
@import "cards";

@import "../../../../node_modules/material-design-lite/dist/material.teal-red.min";
@import "../../../../node_modules/material-design-lite/dist/assets/prism-default";
@import "../../../../node_modules/material-design-lite/dist/assets/main";
@import "../../../../node_modules/material-design-lite/dist/assets/components";