$primary: #F09;

* {
	//color: $primary;
}

html,
body {
	height: 100%;

	overflow: hidden;
}

@import "app";
@import "course";
@import "section";
@import "cards";



@import "../../../../node_modules/material-design-lite/dist/material.blue_grey-red.min";
@import "../../../../node_modules/material-design-lite/dist/assets/prism-default";
@import "../../../../node_modules/material-design-lite/dist/assets/main";
@import "../../../../node_modules/material-design-lite/dist/assets/components";