<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title></title>
        <script src="./js/vendor/polyfill.min.js"></script>
        <script src="./js/vendor/system.js"></script>
        <script>
            System.config(
                {
	                packages: {
		                js: {
			                map: {
				                crossroads: 'js/vendor/crossroads.min.js',
				                handlebars: 'js/vendor/handlebars.js',
				                jquery: 'js/vendor/jquery.min.js',
				                signals: 'js/vendor/signals.min.js'
			                },
			                meta: {
				                crossroads: {
					                exports: 'crossroads',
					                format: 'global'
				                },
				                handlebars: {
					                exports: 'Handlebars',
					                format: 'global'
				                },
				                jquery: {
					                exports: '$'
				                }
			                }
		                }
	                }
                }
            );

            System.import( './js/app.js' );
        </script>
	    <link href="./css/theme.min.css" type="text/css" rel="stylesheet">
	    <link href="./css/cards.min.css" type="text/css" rel="stylesheet">
	    <link href="./css/extensions.min.css" type="text/css" rel="stylesheet">
	    <link href="./css/interactions.min.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <morsel-course><div class="loader">Loading...</div></morsel-course>
    </body>
</html>