<!DOCTYPE html>
    <html lang="en">
    <head>
	    <title>Morsels</title>

	    <meta charset="UTF-8">
	    <meta name="theme-color" content="#{{config.appColour}}">
	    <meta name="msapplication-navbutton-color" content="#{{config.appColour}}">
	    <meta name="apple-mobile-web-app-capable" content="yes">
	    <meta name="apple-mobile-web-app-status-bar-style" content="translucent">
	    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">

	    <link href="./css/course.min.css" type="text/css" rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css" rel="stylesheet">
	    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" type="text/css" rel="stylesheet">

        <!--<script src="./js/vendor/polyfill.min.js"></script>-->
        <script src="./js/vendor/system.js"></script>
        <script src="./js/vendor/material.min.js" async></script>
        <script>
            System.config(
                {
                    depCache: {
                        app: ['jquery', 'handlebarsbinding'],
                        handlebarsbinding: ['handlebars'],
                        views: ['handlebars']
                    },
                    map: {
                        app: 'js/app.js',
                        crossroads: 'js/vendor/crossroads.min.js',
                        eventemitter3: 'js/vendor/eventemitter3.js',
                        handlebars: 'js/vendor/handlebars.js',
                        handlebarsbinding: 'js/vendor/handlebars.binding.min.js',
                        jquery: 'js/vendor/jquery.min.js',
                        signals: 'js/vendor/signals.min.js'
                    },
                    meta: {
                        crossroads: {
                            exports: 'crossroads',
                            format: 'global'
                        },
                        handlebars: {
                            exports: 'Handlebars',
                            format: 'global'
                        },
                        jquery: {
                            exports: '$'
                        }
                    }
                }
            );

            System.defaultJSExtensions = true;

            System.import( 'app' )
                    .then(
                        function() {
                            //HandlebarsBinding.default( Handlebars );
                        }
                    );

        </script>
    </head>
    <body>
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <header class="mdl-layout__header _mdl-layout__header--transparent">
                <div class="mdl-layout__header-row">
                    <span class="mdl-layout-title">Morsels</span>
                    <div class="mdl-layout-spacer"></div>
                    <button id="language-selector"
                            class="mdl-button mdl-js-button mdl-button--icon">
                        <i class="material-icons">language</i>
                    </button>
                </div>
                <div aria-expanded="false" role="button" tabindex="0" class="mdl-layout__drawer-button"><i class="material-icons"></i></div>
            </header>
            <div class="mdl-layout__drawer">
                <span class="mdl-layout-title">Morsels</span>
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="">Link</a>
                    <a class="mdl-navigation__link" href="">Link</a>
                    <a class="mdl-navigation__link" href="">Link</a>
                    <a class="mdl-navigation__link mdl-menu__item--full-bleed-divider" href="">Link</a>
                    <a class="mdl-navigation__link" href="">Starred</a>
                </nav>
            </div>
            <main class="mdl-layout__content">
                <div id="morsel-course"><div class="mdl-spinner mdl-js-spinner is-active"></div></div>
            </main>
        </div>

        <ul id="language-selector-options" class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="language-selector">
            <li class="mdl-menu__item" data-language="en">EN</li>
            <li class="mdl-menu__item" data-language="fr">FR</li>
        </ul>

    </body>
</html>