<!DOCTYPE html>
    <html lang="en">
    <head>
	    <title>Morsels</title>

	    <meta charset="UTF-8">
	    <meta name="theme-color" content="#FF0099">
	    <meta name="msapplication-navbutton-color" content="#FF0099">
	    <meta name="apple-mobile-web-app-capable" content="yes">
	    <meta name="apple-mobile-web-app-status-bar-style" content="translucent">
	    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">

	    <link href="./css/material.blue_grey-red.min.css" type="text/css" rel="stylesheet">
	    <link href="./css/course.min.css" type="text/css" rel="stylesheet">
	    <link href="./css/main.css" type="text/css" rel="stylesheet">
	    <link href="./css/prism-default.css" type="text/css" rel="stylesheet">
	    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css" rel="stylesheet">
	    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" type="text/css" rel="stylesheet">

        <script src="./js/vendor/polyfill.min.js"></script>
        <script src="./js/vendor/system.js"></script>
        <script src="./js/vendor/material.min.js"></script>
        <script>
            System.config(
                {
	                packages: {
		                js: {
			                map: {
				                crossroads: 'js/vendor/crossroads.min.js',
				                handlebars: 'js/vendor/handlebars.js',
				                jquery: 'js/vendor/jquery.min.js',
				                signals: 'js/vendor/signals.min.js'
			                },
			                meta: {
				                crossroads: {
					                exports: 'crossroads',
					                format: 'global'
				                },
				                handlebars: {
					                exports: 'Handlebars',
					                format: 'global'
				                },
				                jquery: {
					                exports: '$'
				                }
			                }
		                }
	                }
                }
            );

            System.import( './js/app.js' );
        </script>
    </head>
    <body>
        <div id="morsel-course"><div class="mdl-spinner mdl-js-spinner is-active"></div></div>
    </body>
</html>