<span class="mdl-layout-title">Morsels</span>
<nav class="mdl-navigation">
    {{#each properties._stacks}}
        <a class="mdl-navigation__link{{#if @last}} mdl-menu__item--full-bleed-divider{{/if}}" href="">{{#if isComplete}}<i class="material-icons">check</i>{{else}}{{#if isLocked}}lock_outline{{/if}}{{/if}}{{title}}</a>
    {{/each}}
    <a class="mdl-navigation__link" href="">Starred</a>
</nav>